{% extends "base.html" %}
{% block title %}About {% endblock %}
{% block content %}
    <style>
        h2 {
            color:blue;
        }
        p {
            color: green;
        }
    </style>
        <h1>Problems</h1>
                <li><img src="http://www.quirkbooks.com/sites/default/files/u84/Problems3.gif"
                alt="Nemo"></li>
            <h2>Accessibility</h2>
                <p>There is no centalized location for all of a students wants or needs.</p>
            <h2>Time & Money</h2>
                <p>Students are fighting a constant battle between time and money contraints.</p>
        <h1>Solutions</h1>
                <li><img src="https://s3.amazonaws.com/ak.represent.us/images/solution.png"
                alt="Secured the bag"Style="width:500px;hieght:500px;"></li>
            <h2>Accessibility</h2>
                <p>Central Location: Students can go to one place and find any good or service they need.</p>
            <h2>Time & Money</h2>
                <p>Service: Students will have the opportunity to make money by servicing other students.</p>
{% endblock %}