{% extends "base.html" %}
{% block title %}Welcome to {% endblock %}
{% block content %}
<br /><br />
<style>
  p {
        color: green;
    }
</style>
    <div class="jumbotron">
     <h1>Base</h1>
      <p>Buy and Sell Everything </p>
  <p><a class="btn btn-primary btn-lg" href="about" role="button">Learn more</a></p>
    </div>
        <li><img src="https://pbs.twimg.com/profile_images/848407840112787457/ptyryi7U.jpg"
             alt="Base" Style="width:300px;hieght:300px;"></li>
             <br >
   <div class="center">
       <div class="row">
        {% for x in listings %}
            <div class="col-md-3">
                <div class="thumbnail">
                    <div class="caption">
                        <h3><a href="{{ url_for('listing_show', listing_id=x.id) }}">{{ x.name }}</a></h1>
                        {{ x.description[:25] }}
                        {{ x.price }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    <br /><br /><br /><br />
{% endblock %}